<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SnaptecHue_SnaptecAPI::books" title="Books API" sortOrder="10">
                    <resource id="SnaptecHue_SnaptecAPI::books_save" title="Save Book" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>